
<div id="header">

  <h1> {{ config.site_name }} </h1>
  
  <div id="header_inner">
    <div id="h_logo">
      <h2>
	<a href="{{ site_url|url }}">
	  <img src="{{ 'img/logo.png'|url }}" alt="{{ config.site_name }}">
	</a>
      </h2>
    </div>
    <div id="h_info">
      <img src="{{ 'img/info.png'|url }}" alt=" ">
    </div>
  </div>
  
</div>


<div id="header-menu">
  <ul class="clearfix">
    {% for menu_item in nav %}
    <li {% if menu_item.title.split('|')[0] == "Home" %}class="home"{% endif %}>
      {% if menu_item.children %}
      <a href="{{ menu_item.children[0].url|url }}">
      {% else %}
      <a href="{{ menu_item.url|url }}">
      {% endif %}
	{{ menu_item.title.split('|')[0] }}
	<br /><span class="sub">
	  {{ menu_item.title.split('|')[1] }}
	</span>
      </a>
    </li>
    {% endfor %}
   </ul>
</div>

<!-- メイン画像 ここから -->
<div id="header-img">
<img src="{{ 'img/head_img_slim.png'|url }}" alt=" &nbsp; " class="main_photo">
</div>
<!-- メイン画像 ここまで -->
