<!DOCTYPE html>
<head>
  {% include "partials/head.html" %}
</head>

<body>

<div id="main"> 

  <!-- ヘッダー -->
  {% block header %}
    {% include "partials/body01_header.html" %}
  {% endblock %}
  
  <div id="container">
  {% block container %}
  
    <!-- メインコンテンツ -->
    <div id="contents">
      {% block content %}
      {{ page.content }}
      {% endblock %}
      <hr class="line">
      <p class="back"><a href="#header">
	  <img class="scroll" src="{{ 'img/pagetop.png'|url }}" alt="Back to Top">
      </a></p>
      <br>    
    </div>
    
    <!-- サイドエリア -->    
    <div id="menu">
      {% block navigation %}
      {% include "partials/body02_navigation.html" %}
      {% endblock %}
    </div>

    {% endblock %}

  </div>
  
  <!-- フッター -->
  {% block footer %}
  <div id="footer">
    {% include "partials/body03_footer.html" %}
  </div>
  {% endblock %}
  
</div>
  
</body>
</html>
