<!DOCTYPE html>
<head>
  {% include "partials/head.html" %}
</head>

<body>

  {% block header %}
  <div class="body_header">
    {% include "partials/body01_header.html" %}
  </div>
  {% endblock %}
  
  {% block payload %}
  <div class="body_payload">
    {% block navigation %}
    <div class="Payload_NavigationFrame">
      {% include "partials/body02_payload01_navigation.html" %}
    </div>
    {% endblock %}
    
    {% block content %}
    <div class="Payload_Content">
      {{ page.content }}
    </div>
    {% endblock %}
    
    {% block toc %}    
    {% if page.meta.toc == "True" %}
    <div class="Payload_Toc">
      {% include "partials/body02_payload03_toc.html" %}
    </div>
    {% endif %}
    {% endblock %}    
  </div>
  {% endblock %}
  
  {% block footer %}
  <div class="body_footer">  
    {% include "partials/body03_footer.html" %}
  </div>
  {% endblock %}
  
</body>
</html>
