{% extends "base.html" %}

{% block content %}
<div class="Payload_Content">

  <h1>
    {%- if page.meta.jname %}
    <span> {{page.meta.jname}} </span>
    <span> | {{page.meta.name}} </span>
    {%- else %}
    <span> {{page.meta.name}} </span>
    {%- endif %}
  </h1>
  
  <div class = 'profile'>
    <div class='profile_img'>
      <img class='profile_img 'src='img/hikaru-hoshino.jpeg'></img>
    </div>
    <div class='affiliation'>
      <p>助教</p>
      <p>兵庫県立大学 <span>大学院工学研究科</span></p>
      <p>電気物性工学専攻 <span>電力応用工学グループ</span></p>
    </div>
  </div>
  
  {{ page.content }}

</div>
{% endblock %}
